:root {
  --wall-brown-dark: #b7775b;
  --sky-blue: #9dc9d2;
  --green: #4D7960;
  --dark-green: #406B53;
  --white: #FDFDFD;
  --black: #2A2A2A;
  --light-grey: #EEE;
  --stevent-brand: #4000d0;

  --global-skew: -1.5deg;

  --fnt-heading: 'Fascinate', cursive;
  --fnt-text: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  font-family: var(--fnt-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--sky-blue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fnt-heading);
}
