@import "@/styles/breakpoints.scss";

.Content {
  display: flex;
  align-items: center;
  gap: 2em;
  max-width: 600px;
  margin: auto;
  color: var(--white);
  font-size: 1.2rem;

  @media (max-width: $bp-mobile) {
    flex-direction: column;
    padding-inline: 2em;
    padding-block-start: 1.5em;
    padding-block-end: 1em;
    gap: 1em;
    max-width: 450px;
  }
}

.ButtonGroup {
  display: flex;
  gap: .5em;

  @media (max-width: $bp-mobile) {
    padding-top: .5em;
    align-items: center;
    gap: .4em;
    flex-wrap: wrap;

    button {
      font-size: .9rem;
      flex: 1;
      justify-content: center;
    }
  }

  a {
    text-decoration: none;
    display: contents;
  }

  button {
    --bg: var(--green);
    --bg-dark: var(--dark-green);
    display: flex;
    align-items: center;
    gap: .5em;
    background: var(--bg-dark);
    color: var(--white);
    border: none;
    border-radius: .3rem;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5em 1em;
    cursor: pointer;

    &:hover, &:active, &:focus {
      background: var(--bg);
    }
    &:hover, &:focus {
      box-shadow: 0px 0px 6px 2px var(--bg-dark);
    }
    &:active {
      box-shadow: inset 0px 0px 10px 3px var(--bg-dark);
    }
  }
}

.PortraitCircle {
  min-width: 8em;
  max-height: 8em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--white);
  border: 10px solid var(--dark-green);
  background-size: cover;
  background-position: center;
}
