@import '@/styles/breakpoints.scss';

.SkewedSection {
  padding-block-start: .5em;
  padding-block-end: 3.5em;
  position: relative;
}

.Background {
  background: var(--background);
  background-size: 40px 40px;
  border: 10px solid var(--border);
  position: absolute;
  inset: 0;
  transform: skewY(var(--global-skew));
  border-left: none;
  border-right: none;
  border-top: none;
  z-index: -1;

  &:global(.onTop) {
    top: -17px;

    @media (min-width: $bp-large) {
      top: -30px;
    }
  }

  &:global(.topBorder) {
    border-top: 10px solid var(--border) !important;
  }
}
