@import '@/styles/breakpoints.scss';

@mixin text-and-screenshot {
  .Content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 'title screenshot'
                        'text  screenshot';
    column-gap: 3em;
    align-items: center;

    width: clamp(650px, 80vw, 1200px);
    margin: auto;
    padding-block-start: 1.5em;
    padding-block-end: 1em;

    @media (max-width: $bp-mobile) {
      grid-template-columns: 1fr;
      grid-template-areas: 'title'
                          'screenshot'
                          'text';
      width: 80%;
      row-gap: 1em;
    }
  }

  .Title {
    grid-area: title;
    width: 100%;

    @media (max-width: $bp-mobile) {
      width: 85%;
      margin: auto;
    }
  }

  .Text {
    grid-area: text;
    max-width: 500px;

    p {
      margin-block: .5em;
    }
  }

  .ScreenshotContainer {
    grid-area: screenshot;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .Screenshot {
    width: 100%;
    height: 100%;
    transform: skewY(calc(var(--global-skew) / 1));
    border-radius: 1.5rem;
    box-sizing: border-box;

    background-size: cover;
    background-position: center;

    @media (max-width: $bp-mobile) {
      transform: none;
      min-height: 15em;
    }
  }
}
